name: AbuseFilter
repository: https://gerrit.wikimedia.org/r/mediawiki/extensions/AbuseFilter
configuration: |
  wfLoadExtension( 'AbuseFilter' );
  $wgGroupPermissions['sysop']['abusefilter-modify'] = true;
  $wgGroupPermissions['sysop']['abusefilter-view'] = true;
  $wgGroupPermissions['sysop']['abusefilter-log-detail'] = true;
  $wgGroupPermissions['sysop']['abusefilter-revert'] = true;
  $wgGroupPermissions['*']['abusefilter-log'] = true;
  $wgGroupPermissions['*']['abusefilter-view'] = true;
  $wgGroupPermissions['*']['abusefilter-log-detail'] = true;