name: CentralAuth
repository: https://gerrit.wikimedia.org/r/mediawiki/extensions/CentralAuth
dependencies:
  - AntiSpoof
  - CheckUser
configuration: |
  wfLoadExtension( 'CentralAuth' );
  $wgAutoCreateTempUser['enabled'] = true;
  $wgAutoCreateTempUser['genPattern'] = '~$1';
  $wgAutoCreateTempUser['serialProvider'] = [
    'numShards' => 8, // Just to test breaking up by year and by shard together
    'useYear' => true,
  ];
  $wgAutoCreateTempUser['serialProvider']['type'] = 'centralauth';
  # $wgAutoCreateTempUser['serialProvider']['type'] = 'local';
bash: |
  apt update
  apt install -y sqlite3 || echo "sqlite3 is already installed or failed to install"
  sqlite3 cache/sqlite/centralauth.sqlite < extensions/CentralAuth/schema/sqlite/tables-generated.sql
  sqlite3 cache/sqlite/centralauth.sqlite < extensions/AntiSpoof/sql/sqlite/tables-generated.sql
  sqlite3 cache/sqlite/centralauth.sqlite < extensions/CentralAuth/schema/sqlite/patch-add-uas_year.sql
  # php maintenance/run.php sql --wikidb centralauth extensions/CentralAuth/schema/sqlite/tables-generated.sql
  # php maintenance/run.php sql --wikidb centralauth extensions/AntiSpoof/sql/sqlite/tables-generated.sql
  php maintenance/run.php CentralAuth:migratePass0.php
  php maintenance/run.php CentralAuth:migratePass1.php