name: CheckUser
repository: https://gerrit.wikimedia.org/r/mediawiki/extensions/CheckUser
configuration: |
  wfLoadExtension( 'CheckUser' );
  $wgGroupPermissions['sysop']['checkuser'] = true;
  $wgGroupPermissions['sysop']['checkuser-log'] = true;
  $wgGroupPermissions['sysop']['investigate'] = true;
  $wgGroupPermissions['sysop']['checkuser-temporary-account'] = true;
  $wgGroupPermissions['*']['checkuser-temporary-account-enable'] = true;
  $wgCheckUserEnableSpecialInvestigate = true;
  $wgAutoCreateTempUser['enabled'] = true;
  $wgCheckUserMaximumRowCount = 3;