name: GlobalBlocking
repository: https://gerrit.wikimedia.org/r/mediawiki/extensions/GlobalBlocking
configuration: |
  wfLoadExtension( 'GlobalBlocking' );
  $wgGlobalBlockingDatabase = 'globalblocking';
  $wgApplyGlobalBlocks = true;
  $wgGlobalBlockingBlockXFF = true;
bash: |
  apt update
  apt install sqlite3
  sqlite3 cache/sqlite/globalblocking.sqlite < extensions/GlobalBlocking/sql/sqlite/tables-generated-globalblocks.sql
  cd /var/www/html/w/extensions/GlobalBlocking
  composer install --no-dev