include:
  - path:
    - ../selenium/docker-compose.selenium.yml
    - ../elasticsearch/docker-compose.elastic.yml

services:
  mediawiki:
    volumes:
      - ../manifests:/var/www/html/w/manifests
      - ../import-on-fresh-install/pages:/tmp/page-xml
      - ../import_page_xml.sh:/import_page_xml.sh

# Your other overrides below
