x-environment: &default-environment
  MEDIAWIKI_USER: Admin
  MEDIAWIKI_PASSWORD: dockerpass
  XDEBUG_ENABLE: 'true'
  XHPROF_ENABLE: 'true'
  XDEBUG_CONFIG: "client_host=host.docker.internal client_port=9004"
  XDEBUG_MODE: debug
  HOME: /var/www/html/w
  COMPOSER_CACHE_DIR: /var/local/composer
  NPM_CONFIG_CACHE: /var/local/npm

services:

  mediawiki:
    build:
      context: ./selenium
      dockerfile: Dockerfile.mediawiki.extras
    image: mediawiki.extras:1.0
    volumes:
      - ./skins:/var/local/skins
      - ./extensions:/var/local/extensions
      - ./installer:/var/local/installer
      - ./common:/var/local/common
      - ./selenium/node-preparation.sh:/var/local/node-preparation.sh
      - ./import-on-fresh-install/pages:/tmp/page-xml
      - ./import_page_xml.sh:/import_page_xml.sh
      - composer_cache:/var/local/composer
      - npm_cache:/var/local/npm
    environment:
      <<: *default-environment
      CLONE_DEPTH: ${CLONE_DEPTH:-2}
    env_file: !override
      - .env

  mediawiki-web:
    environment:
      <<: *default-environment
      MW_SERVER: http://localhost:8080
      MW_SCRIPT_PATH: /w
    env_file: !override
      - .env
    volumes:
      - ./skins:/var/local/skins
      - ./extensions:/var/local/extensions
      - ./installer:/var/local/installer
      - ./common:/var/local/common
      - composer_cache:/var/local/composer
      - npm_cache:/var/local/npm

  mediawiki-jobrunner:
    environment:
      <<: *default-environment
    env_file: !override
      - .env
    volumes:
      - composer_cache:/var/local/composer
      - npm_cache:/var/local/npm

  selenium:
    build:
      context: ./selenium
      dockerfile: Dockerfile.selenium
    image: mediawiki-selenium:1.0
    platform: linux/amd64
    working_dir: /var/www/html/w
    environment:
      <<: *default-environment
      MW_SERVER: http://localhost:8080
      MW_SCRIPT_PATH: /w
    # 'service:mediawiki-web' network_mode makes the selenium container share the network namespace
    # with the web container - meaning they share the same IP address and localhost refers to the same place
    # This vastly simplifies isolating/running selenium in a separate container
    network_mode: "service:mediawiki-web"
    volumes:
      - ./mediawiki:/var/www/html/w:cached
      - chromium_cache:/var/local/chromium
      - npm_cache:/var/local/npm
    depends_on:
      - mediawiki-web
      - novnc
    profiles: ["selenium"]

  novnc:
    image: ghcr.io/montehurd/mediawiki-docker-images/novnc:latest
    environment:
      - NOVNC_PORT=8086
    ports:
      - 8086:8086
    profiles: ["selenium"]

  # Use COMPOSE_PROFILES to do fresh install with mysql:
  #   COMPOSE_PROFILES="default,mysql" ./fresh_install
  mysql:
    image: ghcr.io/montehurd/mediawiki-docker-images/mysql:latest
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    # Ensure container only starts when 'mysql' profile used
    profiles: ["mysql"]
    volumes:
      - ./mysql-data:/var/lib/mysql
      - ./mysql-backups:/var/lib/mysql-backups
  # Show MySQL tables:
  #   ./shellto mysql mysql -u root -e "SHOW DATABASES;"
  # View queries in realtime:
  #   ./shellto mysql mariadb -u root -p <ENTER><ENTER>
  #   Then paste this and <ENTER>
  #     SET GLOBAL general_log = 'ON';
  #     SET GLOBAL general_log_file = '/var/lib/mysql/general.log';
  #   Then tail the log file:
  #     ./shellto mysql tail -f /var/lib/mysql/general.log
  # View entire db schema:
  #   ./shellto mysql mysqldump -u root -p --no-data my_wiki <ENTER><ENTER>

volumes:
  chromium_cache:
  composer_cache:
  npm_cache: