x-environment: &default-environment
  MEDIAWIKI_USER: Admin
  MEDIAWIKI_PASSWORD: dockerpass
  XDEBUG_ENABLE: 'true'
  XHPROF_ENABLE: 'true'
  XDEBUG_CONFIG: "client_host=host.docker.internal client_port=9004"
  XDEBUG_MODE: debug
  HOME: /var/www/html/w
  COMPOSER_CACHE_DIR: /var/local/composer
  NPM_CONFIG_CACHE: /var/local/npm

services:

  mediawiki:
    build:
      # TODO: should we have "selenium" folder or make it more generic?
      context: ./selenium
      dockerfile: Dockerfile.mediawiki.extras
    image: mediawiki.extras:1.0
    volumes:
      - ./skins:/var/local/skins
      - ./extensions:/var/local/extensions
      - ./installer:/var/local/installer
      - ./common:/var/local/common
      - ./selenium/node-preparation.sh:/var/local/node-preparation.sh
      - ./import-on-fresh-install/pages:/tmp/page-xml
      - ./import_page_xml.sh:/import_page_xml.sh
      - composer_cache:/var/local/composer
      - npm_cache:/var/local/npm
    environment:
      <<: *default-environment
      CLONE_DEPTH: ${CLONE_DEPTH:-2}
    env_file: !override
      - .env

  mediawiki-web:
    build:
      context: ./selenium
      dockerfile: Dockerfile.mediawiki-web.selenium
    # when using build context and dockerfile (above), the image value below
    # becomes the name:tag the resulting image is given. this image then
    # overrides the mediawiki-web image from mediawiki's docker-compose.yml
    image: mediawiki-web.selenium:1.0
    pull_policy: build
    environment:
      <<: *default-environment
      MW_SERVER: http://localhost:8080
      MW_SCRIPT_PATH: /w
    env_file: !override
      - .env
    volumes:
      - ./skins:/var/local/skins
      - ./extensions:/var/local/extensions
      - ./installer:/var/local/installer
      - ./common:/var/local/common
      - chromium_cache:/var/local/chromium/
      - composer_cache:/var/local/composer
      - npm_cache:/var/local/npm

  mediawiki-jobrunner:
    environment:
      <<: *default-environment
    env_file: !override
      - .env
    volumes:
      - composer_cache:/var/local/composer
      - npm_cache:/var/local/npm

  novnc:
    build:
      context: ./selenium/novnc
      dockerfile: Dockerfile
    image: mediawiki-novnc:1.0
    pull_policy: build
    environment:
      - DISPLAY_WIDTH=1280
      - DISPLAY_HEIGHT=1024
      - NOVNC_PORT=8086
    ports:
      - 8086:8086
    volumes:
      - ./selenium/novnc:/app

  # Use COMPOSE_PROFILES to do fresh install with mysql:
  #   COMPOSE_PROFILES="default,mysql" ./fresh_install
  mysql:
    image: ghcr.io/montehurd/mediawiki-docker-images/mysql:latest
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10
    # Ensure container only starts when 'mysql' profile used
    profiles: ["mysql"]
    volumes:
      - ./mysql:/var/lib/mysql
      - ./mysql-backups:/var/lib/mysql-backups

volumes:
  chromium_cache:
  composer_cache:
  npm_cache: