services:

  mediawiki-web:
    environment:
      - MW_ELASTIC_HOST=elasticsearch
      - MW_ELASTIC_PORT=9200
    depends_on:
      - elasticsearch

  elasticsearch:
    # image: docker-registry.wikimedia.org/dev/cirrus-elasticsearch:7.10.2-s2
    image: docker-registry.wikimedia.org/repos/search-platform/cirrussearch-elasticsearch-image:v7.10.2-12
    volumes:
      - elasticdata:/usr/share/elasticsearch/data
    environment:
      - discovery.type=single-node
      - bootstrap.system_call_filter=false
    ports:
      - 9200:9200
      - 9300:9300
    networks:
      default:
        aliases:
          - elasticsearch

volumes:
  elasticdata:
    driver: local